# Web Framework
Flask

# AI & LLM Orchestration
langchain
langchain-community
langchain-google-genai
langgraph
google-genai
huggingface_hub
langsmith

# Vector Database
chromadb

# Data Manipulation
pandas
numpy
pydantic

# Utilities & Tools
python-dotenv
pypdf
rich
tqdm
posthog
twilio

# Infrastructure / Database
kubernetes
SQLAlchemy
